.cart-item {
    display: flex;
    height: 80px;
    margin-bottom: 15px;
    width: 100%;

    img {
        width: 30%;
    }

    .item-details {
        align-items: flex-start;
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 10px 20px;
        width: 70%;

        .name {
            font-size: 16px;
        }

        .qty-price {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            width: 50%;
        }
    }

    .remove-button {
        align-self: center;
        cursor: pointer;
    }
}

.checkout-item {
    align-items: center;
    border-bottom: 1px solid darkgrey;
    display: flex;
    font-size: 20px;
    min-height: 100px;
    padding: 15px 0;
    width: 100%;

    img {
        padding-right: 25px;
        width: 23%;
    }
    .item-details {
        display: flex;
        flex-direction: row;
        width: 69%;
    }
    .name,
    .quantity,
    .price {
        width: 23%;
    }
    .qty-price {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        width: 100%;
    }
    .cross {
        display: none;
    }
    .quantity {
        padding-left: 20px;
    }

    .remove-button {
        cursor: pointer;
        padding-left: 12px;
    }
}
